.starry-background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  position: relative;
}

#stars {
  width: 1px;
  height: 1px;
  position: absolute;
  background: transparent;
  box-shadow: 286px 1777px #fff, 1409px 1524px #fff, 270px 980px #fff,
    781px 643px #fff, 112px 1080px #fff, 821px 1903px #fff, 920px 763px #fff,
    1609px 324px #fff, 835px 1928px #fff, 1840px 295px #fff, 1044px 942px #fff,
    1732px 1106px #fff, 622px 1194px #fff, 1193px 645px #fff, 1632px 433px #fff,
    190px 917px #fff, 1646px 184px #fff, 1912px 701px #fff, 1161px 1896px #fff,
    1345px 1348px #fff, 167px 896px #fff, 851px 1641px #fff, 87px 1575px #fff,
    1785px 1594px #fff, 101px 603px #fff, 296px 27px #fff, 569px 1990px #fff,
    555px 671px #fff, 30px 1209px #fff, 999px 961px #fff, 112px 846px #fff,
    789px 823px #fff, 1308px 945px #fff, 526px 1331px #fff, 1318px 786px #fff,
    1225px 455px #fff, 1647px 1714px #fff, 493px 1894px #fff, 1798px 1530px #fff,
    285px 501px #fff, 81px 1731px #fff, 1830px 1794px #fff, 1530px 964px #fff,
    539px 193px #fff, 1045px 1365px #fff, 1017px 127px #fff, 386px 1113px #fff,
    555px 1135px #fff, 1259px 714px #fff, 247px 729px #fff, 980px 1673px #fff,
    982px 1386px #fff, 592px 1398px #fff, 996px 866px #fff, 1933px 1958px #fff,
    472px 794px #fff, 267px 1047px #fff, 1298px 8px #fff, 734px 930px #fff,
    923px 804px #fff, 1399px 80px #fff, 1262px 1450px #fff, 854px 838px #fff,
    375px 935px #fff, 1409px 1972px #fff, 371px 404px #fff, 1870px 1471px #fff,
    1656px 710px #fff, 442px 1903px #fff, 777px 1987px #fff, 1521px 529px #fff,
    583px 47px #fff, 275px 504px #fff, 1017px 1037px #fff, 1px 397px #fff,
    427px 501px #fff, 1245px 192px #fff, 708px 1101px #fff, 1132px 1054px #fff,
    864px 1772px #fff, 547px 1359px #fff, 1287px 932px #fff, 699px 1212px #fff,
    960px 155px #fff, 737px 828px #fff, 1091px 741px #fff, 932px 1300px #fff,
    38px 658px #fff, 959px 1593px #fff, 1067px 1826px #fff, 638px 1031px #fff,
    1653px 227px #fff, 1121px 982px #fff, 1794px 1807px #fff, 1077px 673px #fff,
    1721px 1654px #fff, 1190px 1945px #fff, 313px 937px #fff, 646px 1535px #fff,
    319px 1840px #fff, 162px 941px #fff, 225px 753px #fff, 669px 330px #fff,
    47px 1177px #fff, 368px 814px #fff, 1532px 1253px #fff, 346px 1797px #fff,
    714px 1445px #fff, 405px 42px #fff, 31px 503px #fff, 728px 1818px #fff,
    1148px 800px #fff, 838px 1700px #fff, 367px 1897px #fff, 1009px 50px #fff,
    893px 1904px #fff, 1581px 1323px #fff, 381px 758px #fff, 1142px 584px #fff,
    1371px 1010px #fff, 1491px 1301px #fff, 1517px 232px #fff, 891px 1238px #fff,
    165px 205px #fff, 560px 1244px #fff, 1369px 803px #fff, 434px 1539px #fff,
    660px 350px #fff, 868px 626px #fff, 530px 297px #fff, 103px 1014px #fff,
    601px 1285px #fff, 409px 781px #fff, 1390px 1593px #fff, 749px 1537px #fff,
    1855px 464px #fff, 793px 1434px #fff, 1863px 1759px #fff, 746px 1694px #fff,
    1072px 665px #fff, 1901px 846px #fff, 380px 100px #fff, 1988px 332px #fff,
    1420px 1461px #fff, 1380px 1308px #fff, 1919px 1172px #fff,
    1767px 1150px #fff, 1804px 471px #fff, 1184px 1639px #fff, 697px 590px #fff,
    1947px 383px #fff, 1463px 1701px #fff, 1972px 1058px #fff, 41px 118px #fff,
    1018px 831px #fff, 1609px 1405px #fff, 1246px 1797px #fff,
    1424px 1300px #fff, 832px 621px #fff, 1232px 1562px #fff, 434px 342px #fff,
    970px 1789px #fff, 1616px 1951px #fff, 615px 628px #fff, 999px 672px #fff,
    1150px 1269px #fff, 1840px 1814px #fff, 77px 1407px #fff, 1680px 1072px #fff,
    312px 1468px #fff, 590px 530px #fff, 1702px 335px #fff, 1765px 484px #fff,
    743px 502px #fff, 597px 1201px #fff, 363px 99px #fff, 398px 693px #fff,
    1843px 465px #fff, 1060px 1631px #fff, 358px 1117px #fff, 1815px 120px #fff,
    27px 670px #fff, 104px 1763px #fff, 254px 671px #fff, 186px 1572px #fff,
    1887px 477px #fff, 259px 1564px #fff, 1690px 1806px #fff, 1604px 809px #fff,
    1848px 203px #fff, 1742px 546px #fff, 1970px 375px #fff, 1316px 970px #fff,
    201px 1794px #fff, 242px 88px #fff, 1076px 179px #fff, 867px 480px #fff,
    1961px 945px #fff, 1103px 1615px #fff, 870px 1694px #fff, 1227px 1312px #fff,
    1312px 1068px #fff, 1785px 1828px #fff, 1103px 1536px #fff,
    1880px 1180px #fff, 1408px 122px #fff, 387px 1419px #fff, 791px 1777px #fff,
    717px 38px #fff, 987px 511px #fff, 1396px 1077px #fff, 1226px 523px #fff,
    1664px 1161px #fff, 1779px 425px #fff, 990px 1066px #fff, 1414px 660px #fff,
    1041px 261px #fff, 1404px 1260px #fff, 1098px 1466px #fff,
    1511px 1753px #fff, 1445px 920px #fff, 1172px 497px #fff, 837px 1429px #fff,
    755px 1340px #fff, 767px 1806px #fff, 1398px 1031px #fff, 1335px 1442px #fff,
    544px 287px #fff, 1151px 614px #fff, 378px 895px #fff, 1848px 670px #fff,
    463px 275px #fff, 1826px 506px #fff, 158px 744px #fff, 1917px 499px #fff,
    774px 1816px #fff, 1594px 755px #fff, 1457px 1710px #fff, 1603px 1404px #fff,
    1762px 447px #fff, 612px 779px #fff, 641px 1467px #fff, 85px 842px #fff,
    596px 692px #fff, 1409px 354px #fff, 950px 683px #fff, 570px 591px #fff,
    1396px 1653px #fff, 1115px 951px #fff, 1517px 29px #fff, 1592px 1464px #fff,
    961px 1598px #fff, 199px 60px #fff, 1489px 1977px #fff, 1827px 1191px #fff,
    335px 98px #fff, 1322px 40px #fff, 710px 398px #fff, 570px 1545px #fff,
    1747px 1378px #fff, 648px 1227px #fff, 252px 1713px #fff, 1529px 844px #fff,
    1610px 187px #fff, 1436px 1734px #fff, 1596px 479px #fff, 528px 885px #fff,
    441px 1357px #fff, 1657px 1899px #fff, 786px 1879px #fff, 373px 307px #fff,
    657px 158px #fff, 821px 1632px #fff, 1061px 828px #fff, 1561px 240px #fff,
    389px 1719px #fff, 885px 205px #fff, 1485px 202px #fff, 1750px 692px #fff,
    607px 222px #fff, 936px 1108px #fff, 1081px 1221px #fff, 1333px 1302px #fff,
    1754px 1011px #fff, 814px 1346px #fff, 1863px 314px #fff, 1334px 1038px #fff,
    867px 442px #fff, 1307px 841px #fff, 107px 1611px #fff, 792px 302px #fff,
    67px 1094px #fff, 3px 1710px #fff, 1046px 738px #fff, 1757px 1619px #fff,
    192px 1786px #fff, 1661px 1463px #fff, 1446px 847px #fff, 1163px 1513px #fff,
    748px 907px #fff, 308px 356px #fff, 255px 588px #fff, 1756px 1850px #fff,
    373px 1622px #fff, 1104px 1643px #fff, 293px 1921px #fff, 353px 11px #fff,
    560px 1798px #fff, 1996px 1860px #fff, 1434px 1385px #fff, 793px 1041px #fff,
    437px 899px #fff, 1929px 517px #fff, 1687px 75px #fff, 1706px 1773px #fff,
    1206px 1348px #fff, 1619px 646px #fff, 1323px 83px #fff, 366px 535px #fff,
    713px 153px #fff, 1946px 407px #fff, 1633px 496px #fff, 268px 429px #fff,
    1236px 214px #fff, 14px 35px #fff, 1327px 1675px #fff, 1133px 1582px #fff,
    1633px 201px #fff, 355px 743px #fff, 1487px 1339px #fff, 698px 141px #fff,
    132px 1706px #fff, 596px 949px #fff, 1552px 822px #fff, 396px 738px #fff,
    1433px 602px #fff, 1844px 1061px #fff, 1304px 312px #fff, 923px 1767px #fff,
    1682px 63px #fff, 847px 1735px #fff, 768px 1570px #fff, 104px 702px #fff,
    132px 1864px #fff, 876px 847px #fff, 1388px 1576px #fff, 1750px 212px #fff,
    1239px 892px #fff, 524px 1156px #fff, 89px 473px #fff, 183px 1502px #fff,
    1991px 705px #fff, 1151px 1642px #fff, 1348px 782px #fff, 701px 1122px #fff,
    1499px 213px #fff, 1309px 1706px #fff, 1106px 1976px #fff,
    1587px 1683px #fff, 8px 709px #fff, 1392px 824px #fff, 1767px 265px #fff,
    1818px 664px #fff, 418px 791px #fff, 1406px 1786px #fff, 1596px 1718px #fff,
    1109px 699px #fff, 1683px 521px #fff, 1843px 957px #fff, 485px 158px #fff,
    1539px 1651px #fff, 1174px 425px #fff, 1042px 1743px #fff, 1081px 295px #fff,
    176px 268px #fff, 1838px 1947px #fff, 1948px 111px #fff, 1528px 1586px #fff,
    1117px 72px #fff, 101px 1056px #fff, 1253px 1831px #fff, 1124px 71px #fff,
    1983px 1579px #fff, 1000px 424px #fff, 597px 1199px #fff, 1996px 251px #fff,
    1254px 105px #fff, 1451px 491px #fff, 1254px 191px #fff, 1713px 778px #fff,
    1585px 1971px #fff, 885px 383px #fff, 1922px 87px #fff, 1501px 361px #fff,
    1160px 1362px #fff, 676px 195px #fff, 646px 1725px #fff, 891px 1854px #fff,
    431px 1588px #fff, 1199px 355px #fff, 390px 830px #fff, 1346px 1391px #fff,
    1211px 1592px #fff, 891px 588px #fff, 1389px 1757px #fff, 235px 995px #fff,
    1560px 1696px #fff, 885px 121px #fff, 1608px 272px #fff, 216px 1381px #fff,
    743px 1856px #fff, 1623px 187px #fff, 776px 1594px #fff, 132px 1548px #fff,
    957px 690px #fff, 525px 332px #fff, 854px 1664px #fff, 610px 159px #fff,
    147px 726px #fff, 395px 602px #fff, 555px 191px #fff, 443px 1083px #fff,
    82px 37px #fff, 1747px 1617px #fff, 663px 831px #fff, 1372px 1116px #fff,
    757px 1215px #fff, 278px 1416px #fff, 1697px 1130px #fff, 1629px 1455px #fff,
    594px 24px #fff, 1355px 1984px #fff, 1883px 1776px #fff, 276px 68px #fff,
    1587px 1248px #fff, 1849px 1728px #fff, 1786px 1654px #fff,
    1960px 455px #fff, 28px 1219px #fff, 126px 549px #fff, 1719px 438px #fff,
    1553px 1091px #fff, 1718px 1321px #fff, 1545px 665px #fff,
    1817px 1513px #fff, 268px 1802px #fff, 458px 959px #fff, 470px 789px #fff,
    1818px 386px #fff, 1846px 1744px #fff, 1985px 1661px #fff, 592px 72px #fff,
    1555px 1803px #fff, 1150px 211px #fff, 1946px 168px #fff, 1451px 1932px #fff,
    23px 1910px #fff, 1767px 1566px #fff, 959px 791px #fff, 1809px 1971px #fff,
    363px 801px #fff, 735px 144px #fff, 1899px 1327px #fff, 1828px 1373px #fff,
    270px 1744px #fff, 598px 514px #fff, 1016px 1558px #fff, 173px 751px #fff,
    1083px 1310px #fff, 547px 1520px #fff, 743px 1164px #fff, 541px 1560px #fff,
    215px 1989px #fff, 1109px 1887px #fff, 1279px 64px #fff, 313px 1018px #fff,
    449px 1413px #fff, 1358px 1507px #fff, 313px 688px #fff, 290px 20px #fff,
    1779px 1014px #fff, 1066px 406px #fff, 124px 1402px #fff, 45px 885px #fff,
    1355px 1555px #fff, 681px 1178px #fff, 906px 1460px #fff, 1075px 1258px #fff,
    1848px 802px #fff, 812px 1445px #fff, 1692px 471px #fff, 721px 436px #fff,
    648px 1176px #fff, 423px 1132px #fff, 1527px 133px #fff, 66px 1208px #fff,
    84px 943px #fff, 957px 1865px #fff, 1498px 1159px #fff, 417px 224px #fff,
    558px 882px #fff, 1168px 146px #fff, 1790px 12px #fff, 355px 1437px #fff,
    1587px 1671px #fff, 1856px 253px #fff, 1852px 305px #fff, 75px 1757px #fff,
    1097px 1603px #fff, 1551px 1571px #fff, 1553px 1897px #fff,
    767px 1901px #fff, 1783px 827px #fff, 938px 1585px #fff, 1234px 968px #fff,
    746px 1672px #fff, 1427px 481px #fff, 609px 1915px #fff, 1559px 203px #fff,
    449px 723px #fff, 633px 858px #fff, 692px 1170px #fff, 428px 1639px #fff,
    1216px 168px #fff, 1651px 16px #fff, 1983px 1707px #fff, 197px 1338px #fff,
    107px 661px #fff, 757px 140px #fff, 1108px 41px #fff, 1607px 868px #fff,
    1699px 1753px #fff, 931px 335px #fff, 1932px 692px #fff, 1759px 1868px #fff,
    1057px 35px #fff, 1018px 1321px #fff, 1148px 1708px #fff, 1651px 503px #fff,
    112px 233px #fff, 16px 1055px #fff, 1114px 1515px #fff, 1253px 618px #fff,
    1579px 1534px #fff, 603px 165px #fff, 828px 1049px #fff, 343px 97px #fff,
    1230px 1895px #fff, 1551px 759px #fff, 1417px 1227px #fff, 1202px 692px #fff,
    439px 314px #fff, 297px 1578px #fff, 916px 61px #fff, 90px 9px #fff,
    36px 1783px #fff, 1669px 1089px #fff, 1166px 652px #fff, 1551px 709px #fff,
    660px 925px #fff, 1090px 1045px #fff, 101px 1078px #fff, 1643px 325px #fff,
    1386px 232px #fff, 1691px 408px #fff, 527px 1445px #fff, 1689px 135px #fff,
    93px 1575px #fff, 342px 704px #fff, 333px 1194px #fff, 1128px 995px #fff,
    283px 1074px #fff, 1270px 1218px #fff, 1487px 315px #fff, 883px 1879px #fff,
    1869px 755px #fff, 476px 1842px #fff, 1662px 44px #fff, 1022px 283px #fff,
    1957px 598px #fff, 1420px 1445px #fff, 833px 945px #fff, 715px 1415px #fff,
    1307px 1363px #fff, 1798px 1859px #fff, 392px 576px #fff, 386px 563px #fff,
    1550px 860px #fff, 1079px 1312px #fff, 1847px 621px #fff, 1165px 260px #fff,
    548px 327px #fff, 865px 1579px #fff, 78px 1009px #fff, 1516px 859px #fff,
    1346px 1616px #fff, 1369px 860px #fff, 1730px 1725px #fff,
    1994px 1570px #fff, 449px 84px #fff, 1337px 1153px #fff, 389px 359px #fff,
    1697px 1112px #fff, 1097px 610px #fff, 1428px 1459px #fff, 662px 1552px #fff,
    1074px 717px #fff, 692px 1946px #fff, 83px 662px #fff, 139px 1422px #fff,
    792px 790px #fff, 379px 987px #fff, 557px 357px #fff, 102px 1780px #fff,
    1367px 1495px #fff, 911px 1034px #fff, 1931px 1289px #fff, 700px 1143px #fff,
    1589px 1475px #fff, 532px 1653px #fff, 1120px 157px #fff, 1679px 1634px #fff,
    258px 1516px #fff, 1784px 1830px #fff, 1294px 1075px #fff,
    1148px 1256px #fff, 982px 1850px #fff, 1994px 1087px #fff, 37px 259px #fff,
    717px 229px #fff, 835px 654px #fff, 1477px 411px #fff, 1578px 117px #fff,
    190px 810px #fff, 1630px 965px #fff, 1741px 1152px #fff, 134px 1170px #fff,
    477px 1675px #fff, 1130px 1870px #fff, 1344px 1057px #fff, 1032px 864px #fff,
    581px 1421px #fff, 843px 865px #fff, 258px 1657px #fff, 1726px 369px #fff,
    1353px 1288px #fff, 152px 204px #fff, 1825px 1195px #fff, 1873px 1275px #fff,
    1814px 302px #fff, 1746px 1625px #fff, 1712px 1793px #fff, 706px 774px #fff,
    1896px 1414px #fff, 1684px 1501px #fff, 879px 487px #fff, 137px 1270px #fff,
    1837px 1245px #fff, 364px 1588px #fff, 1796px 1945px #fff, 777px 646px #fff,
    1407px 1811px #fff, 1115px 103px #fff, 459px 1452px #fff, 138px 1352px #fff,
    1625px 317px #fff, 732px 1597px #fff, 1070px 1483px #fff, 506px 487px #fff,
    327px 1160px #fff, 884px 1491px #fff, 14px 1204px #fff, 1902px 1471px #fff,
    29px 445px #fff, 1052px 263px #fff, 791px 1px #fff, 1727px 1377px #fff,
    1981px 1376px #fff, 862px 1897px #fff, 1172px 934px #fff, 1391px 660px #fff,
    955px 234px #fff, 542px 808px #fff, 1731px 747px #fff, 810px 912px #fff,
    265px 1300px #fff, 136px 129px #fff, 849px 1282px #fff, 658px 549px #fff,
    1680px 582px #fff, 396px 1670px #fff, 751px 1698px #fff, 1396px 181px #fff,
    405px 1740px #fff, 993px 550px #fff, 93px 830px #fff, 884px 1933px #fff,
    911px 675px #fff, 153px 73px #fff, 240px 216px #fff;
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 15px 1726px #fff, 1066px 1391px #fff, 1277px 1551px #fff,
    674px 1360px #fff, 1089px 1412px #fff, 1993px 1461px #fff, 61px 1282px #fff,
    1178px 1097px #fff, 839px 229px #fff, 1397px 980px #fff, 1804px 29px #fff,
    831px 516px #fff, 1109px 1268px #fff, 23px 18px #fff, 1464px 142px #fff,
    390px 299px #fff, 1719px 1010px #fff, 350px 1728px #fff, 988px 1721px #fff,
    419px 537px #fff, 659px 1560px #fff, 1231px 1103px #fff, 1806px 200px #fff,
    818px 1837px #fff, 565px 1760px #fff, 1968px 47px #fff, 1966px 1954px #fff,
    1956px 1757px #fff, 1867px 1597px #fff, 1330px 618px #fff, 955px 371px #fff,
    1051px 1523px #fff, 1353px 1597px #fff, 257px 890px #fff, 867px 333px #fff,
    1742px 1047px #fff, 711px 819px #fff, 1041px 1504px #fff, 726px 818px #fff,
    629px 739px #fff, 1542px 1819px #fff, 771px 1996px #fff, 164px 1719px #fff,
    1550px 745px #fff, 1193px 244px #fff, 1955px 719px #fff, 1143px 1281px #fff,
    807px 1744px #fff, 1660px 111px #fff, 976px 522px #fff, 657px 259px #fff,
    967px 1825px #fff, 1720px 1663px #fff, 1166px 1670px #fff, 1093px 508px #fff,
    235px 932px #fff, 1916px 1520px #fff, 611px 964px #fff, 273px 1342px #fff,
    1615px 630px #fff, 1460px 330px #fff, 728px 480px #fff, 1659px 1308px #fff,
    1327px 1323px #fff, 1125px 550px #fff, 1098px 87px #fff, 1369px 575px #fff,
    49px 1213px #fff, 1008px 427px #fff, 175px 1759px #fff, 1203px 347px #fff,
    168px 936px #fff, 916px 289px #fff, 661px 797px #fff, 1171px 1220px #fff,
    454px 1438px #fff, 1339px 946px #fff, 1004px 1332px #fff, 985px 952px #fff,
    1093px 621px #fff, 1809px 95px #fff, 1630px 1234px #fff, 1518px 1038px #fff,
    163px 1910px #fff, 350px 399px #fff, 1616px 1726px #fff, 1993px 1104px #fff,
    1679px 1174px #fff, 1532px 307px #fff, 1885px 319px #fff, 1873px 1161px #fff,
    1126px 870px #fff, 551px 1780px #fff, 1056px 990px #fff, 612px 1552px #fff,
    1567px 200px #fff, 1093px 668px #fff, 248px 815px #fff, 1935px 848px #fff,
    1269px 674px #fff, 331px 808px #fff, 1382px 152px #fff, 910px 560px #fff,
    260px 1363px #fff, 1926px 306px #fff, 1695px 1427px #fff, 245px 886px #fff,
    162px 1745px #fff, 1884px 1792px #fff, 531px 168px #fff, 1619px 358px #fff,
    467px 1865px #fff, 1370px 1707px #fff, 281px 974px #fff, 476px 1836px #fff,
    1874px 851px #fff, 1646px 1177px #fff, 340px 1071px #fff, 232px 863px #fff,
    1231px 827px #fff, 1863px 1354px #fff, 1805px 1445px #fff, 565px 120px #fff,
    758px 416px #fff, 404px 1870px #fff, 920px 1947px #fff, 873px 1045px #fff,
    1374px 1076px #fff, 699px 295px #fff, 792px 418px #fff, 1110px 1555px #fff,
    265px 1627px #fff, 1326px 230px #fff, 169px 813px #fff, 235px 987px #fff,
    1522px 1808px #fff, 461px 1150px #fff, 1507px 328px #fff, 683px 1148px #fff,
    1585px 1104px #fff, 223px 1017px #fff, 1588px 903px #fff, 444px 95px #fff,
    1276px 1231px #fff, 723px 921px #fff, 854px 1546px #fff, 943px 1433px #fff,
    327px 1047px #fff, 162px 625px #fff, 425px 538px #fff, 1078px 1997px #fff,
    343px 1057px #fff, 13px 367px #fff, 580px 1624px #fff, 132px 1293px #fff,
    1250px 1877px #fff, 189px 1048px #fff, 1234px 205px #fff, 1182px 176px #fff,
    844px 1057px #fff, 1918px 201px #fff, 629px 947px #fff, 831px 707px #fff,
    1952px 611px #fff, 1264px 1733px #fff, 554px 1217px #fff, 227px 1021px #fff,
    1516px 1820px #fff, 234px 776px #fff, 694px 1987px #fff, 1392px 439px #fff,
    1144px 745px #fff, 67px 350px #fff, 287px 657px #fff, 1843px 1448px #fff,
    1068px 1324px #fff, 227px 208px #fff, 1966px 1950px #fff, 1363px 1067px #fff,
    357px 857px #fff, 679px 1228px #fff, 107px 965px #fff, 1889px 1298px #fff,
    958px 1218px #fff, 792px 552px #fff, 709px 252px #fff, 173px 49px #fff,
    1100px 866px #fff, 1743px 481px #fff, 1022px 1641px #fff, 874px 502px #fff,
    1400px 1517px #fff, 619px 193px #fff, 411px 4px #fff, 487px 1139px #fff,
    1693px 1009px #fff, 1421px 828px #fff, 1354px 461px #fff, 1141px 1101px #fff,
    436px 1234px #fff, 908px 1179px #fff, 1426px 726px #fff, 59px 179px #fff,
    18px 1271px #fff, 1881px 1388px #fff, 1951px 136px #fff, 1192px 682px #fff,
    1662px 312px #fff, 1691px 737px #fff, 1896px 1784px #fff, 1301px 27px #fff,
    716px 1823px #fff, 400px 1413px #fff, 317px 1056px #fff, 1649px 838px #fff,
    64px 1033px #fff, 1953px 697px #fff, 1207px 197px #fff, 207px 1194px #fff,
    182px 420px #fff, 839px 918px #fff, 1665px 1842px #fff, 284px 868px #fff,
    1459px 1673px #fff, 588px 1760px #fff, 1491px 910px #fff, 1064px 1957px #fff,
    1180px 1947px #fff, 157px 601px #fff, 522px 560px #fff, 797px 1524px #fff,
    1861px 40px #fff, 761px 1282px #fff, 1569px 1033px #fff, 1187px 1375px #fff,
    1967px 1856px #fff, 870px 1594px #fff, 510px 693px #fff, 1389px 135px #fff,
    1571px 398px #fff, 575px 1574px #fff, 107px 994px #fff, 1979px 609px #fff,
    1927px 278px #fff, 372px 83px #fff, 1546px 104px #fff, 896px 588px #fff,
    1164px 1307px #fff, 1930px 1318px #fff, 1994px 1779px #fff, 608px 666px #fff,
    1266px 1040px #fff, 554px 1125px #fff, 1177px 1833px #fff, 918px 355px #fff,
    1621px 1069px #fff, 1938px 1870px #fff, 630px 1708px #fff, 1752px 389px #fff,
    592px 1262px #fff, 748px 1386px #fff, 801px 1102px #fff, 935px 1566px #fff,
    55px 1551px #fff, 815px 1414px #fff, 1964px 197px #fff, 1925px 697px #fff,
    1268px 1013px #fff, 428px 1004px #fff, 334px 316px #fff, 1938px 829px #fff,
    1213px 1823px #fff, 992px 141px #fff, 888px 1245px #fff, 1993px 163px #fff,
    1505px 289px #fff, 1922px 903px #fff, 1841px 1613px #fff, 244px 149px #fff,
    1250px 501px #fff, 1276px 1479px #fff, 178px 803px #fff, 1371px 1490px #fff,
    1492px 1790px #fff, 1725px 938px #fff, 1945px 272px #fff, 1690px 1251px #fff,
    151px 1978px #fff, 82px 1341px #fff, 666px 52px #fff, 1897px 366px #fff,
    999px 1060px #fff, 419px 1213px #fff, 1576px 543px #fff, 1289px 691px #fff,
    149px 1981px #fff, 1896px 385px #fff, 431px 1421px #fff, 686px 1967px #fff,
    1090px 940px #fff, 319px 324px #fff, 1040px 86px #fff, 1662px 39px #fff,
    1943px 1587px #fff, 1582px 788px #fff, 1344px 1837px #fff, 372px 988px #fff,
    1586px 1413px #fff, 1640px 1505px #fff, 642px 674px #fff, 361px 268px #fff,
    1846px 1369px #fff, 696px 1307px #fff, 1487px 1840px #fff, 1600px 277px #fff,
    977px 1749px #fff, 866px 1481px #fff, 152px 1917px #fff, 996px 129px #fff,
    1532px 910px #fff, 850px 1667px #fff, 1743px 972px #fff, 852px 1177px #fff,
    1901px 637px #fff, 1915px 304px #fff, 1207px 913px #fff, 208px 1929px #fff,
    145px 1781px #fff, 1080px 43px #fff, 1853px 383px #fff, 104px 1203px #fff,
    328px 1280px #fff, 325px 416px #fff, 470px 1960px #fff, 1082px 181px #fff,
    1554px 1121px #fff, 1853px 1055px #fff, 1512px 650px #fff, 242px 491px #fff,
    870px 1712px #fff, 420px 114px #fff, 997px 1083px #fff, 879px 350px #fff,
    232px 1975px #fff, 902px 762px #fff, 176px 858px #fff, 57px 1507px #fff,
    230px 1976px #fff, 1716px 110px #fff, 163px 374px #fff, 931px 1690px #fff,
    1861px 773px #fff, 1914px 36px #fff, 671px 487px #fff, 385px 58px #fff,
    1204px 509px #fff, 495px 1149px #fff, 1188px 1441px #fff, 1994px 680px #fff,
    982px 469px #fff, 1240px 535px #fff, 919px 736px #fff, 1260px 1311px #fff,
    1295px 937px #fff, 1274px 206px #fff, 541px 732px #fff, 793px 809px #fff,
    1772px 69px #fff, 1737px 1473px #fff, 886px 1891px #fff, 755px 1984px #fff,
    883px 1418px #fff, 14px 1727px #fff, 1515px 222px #fff, 1260px 436px #fff,
    922px 1328px #fff, 388px 1852px #fff, 7px 1907px #fff, 943px 1844px #fff,
    73px 1692px #fff, 155px 73px #fff, 1049px 7px #fff, 1676px 1718px #fff,
    74px 1089px #fff, 775px 1609px #fff, 798px 146px #fff, 1412px 1676px #fff,
    1403px 1986px #fff, 63px 967px #fff, 1618px 907px #fff, 496px 1428px #fff,
    297px 1271px #fff, 924px 168px #fff, 222px 1809px #fff, 823px 956px #fff,
    732px 1289px #fff, 1048px 1895px #fff, 298px 401px #fff, 1461px 387px #fff,
    1515px 47px #fff, 614px 1835px #fff, 238px 1269px #fff, 576px 1777px #fff,
    290px 7px #fff, 1398px 918px #fff, 392px 72px #fff, 823px 990px #fff,
    1826px 1926px #fff, 1451px 650px #fff, 262px 947px #fff, 961px 1240px #fff,
    1646px 307px #fff, 416px 1984px #fff, 9px 1559px #fff, 712px 498px #fff,
    777px 180px #fff, 1344px 609px #fff, 1074px 1148px #fff, 1537px 103px #fff,
    142px 1770px #fff, 1487px 327px #fff, 1458px 520px #fff, 1393px 10px #fff,
    1475px 1860px #fff, 1991px 583px #fff, 928px 946px #fff, 128px 843px #fff,
    1312px 1433px #fff, 1263px 875px #fff, 1207px 1302px #fff,
    1130px 1808px #fff, 1540px 347px #fff, 1158px 1646px #fff, 924px 588px #fff,
    1967px 1075px #fff, 770px 1289px #fff, 30px 1655px #fff, 1265px 64px #fff,
    956px 1256px #fff, 9px 235px #fff, 1858px 1773px #fff, 577px 1865px #fff,
    961px 938px #fff, 1290px 1334px #fff, 861px 55px #fff, 126px 1228px #fff,
    1204px 72px #fff, 307px 839px #fff, 398px 669px #fff, 464px 540px #fff,
    1992px 1648px #fff, 502px 670px #fff, 95px 373px #fff, 190px 1910px #fff,
    1293px 1784px #fff, 1623px 1369px #fff, 1047px 1169px #fff,
    1069px 124px #fff, 141px 1006px #fff, 224px 1320px #fff, 117px 372px #fff,
    1182px 883px #fff, 815px 1840px #fff, 1137px 39px #fff, 1827px 820px #fff,
    1152px 583px #fff, 1644px 1081px #fff, 220px 1144px #fff, 11px 1470px #fff,
    1270px 552px #fff, 1215px 1844px #fff, 1140px 27px #fff, 367px 928px #fff,
    875px 1749px #fff, 1060px 1189px #fff, 255px 808px #fff, 883px 1419px #fff,
    1227px 1329px #fff, 329px 310px #fff, 1181px 1547px #fff, 1928px 962px #fff,
    1086px 1706px #fff, 813px 458px #fff, 570px 116px #fff, 1467px 82px #fff,
    1200px 1653px #fff, 1524px 1416px #fff, 1287px 717px #fff, 1892px 408px #fff,
    1983px 453px #fff, 1527px 324px #fff, 993px 1561px #fff, 1894px 1339px #fff,
    1283px 528px #fff, 1860px 1737px #fff, 450px 1478px #fff, 1932px 501px #fff,
    469px 479px #fff, 248px 1056px #fff, 7px 5px #fff, 949px 1908px #fff,
    1909px 1325px #fff, 1279px 919px #fff, 1081px 267px #fff, 1467px 294px #fff,
    244px 987px #fff, 1763px 1567px #fff, 1452px 1460px #fff, 1943px 1373px #fff,
    1788px 901px #fff, 806px 1847px #fff, 766px 1396px #fff, 512px 884px #fff,
    1350px 1185px #fff, 890px 1679px #fff, 827px 970px #fff, 623px 1533px #fff,
    1753px 618px #fff, 445px 1563px #fff, 573px 1601px #fff, 1752px 1218px #fff,
    130px 1104px #fff, 1657px 504px #fff, 1068px 1088px #fff, 463px 456px #fff,
    67px 1492px #fff, 73px 1049px #fff, 1317px 607px #fff, 940px 1237px #fff,
    1954px 1982px #fff, 244px 117px #fff, 1080px 1838px #fff, 827px 479px #fff,
    272px 1132px #fff, 1258px 352px #fff, 1968px 1011px #fff, 1491px 1196px #fff,
    182px 1992px #fff, 744px 149px #fff, 1308px 1723px #fff, 1099px 1815px #fff,
    1682px 1765px #fff, 1976px 1339px #fff, 226px 83px #fff, 1637px 663px #fff,
    53px 126px #fff, 259px 990px #fff, 627px 1725px #fff, 996px 1240px #fff,
    1192px 1510px #fff, 649px 1302px #fff, 505px 816px #fff, 1421px 1747px #fff,
    122px 517px #fff, 1668px 198px #fff, 1880px 38px #fff, 958px 1343px #fff,
    599px 1041px #fff, 1396px 838px #fff, 1056px 1431px #fff, 1260px 1699px #fff,
    1733px 721px #fff, 573px 1185px #fff, 1555px 73px #fff, 534px 1744px #fff,
    1364px 939px #fff, 97px 926px #fff, 1286px 832px #fff, 801px 1497px #fff,
    226px 335px #fff, 755px 669px #fff, 1522px 729px #fff, 1747px 1772px #fff,
    1446px 696px #fff, 512px 1526px #fff, 1364px 774px #fff, 1484px 608px #fff,
    699px 136px #fff, 916px 1109px #fff, 697px 82px #fff, 289px 684px #fff,
    1043px 399px #fff, 1283px 1599px #fff, 1488px 1624px #fff,
    1477px 1345px #fff, 683px 728px #fff, 900px 1174px #fff, 1089px 1057px #fff,
    980px 102px #fff, 1779px 1700px #fff, 1595px 30px #fff, 610px 874px #fff,
    1811px 863px #fff, 919px 161px #fff, 595px 1447px #fff, 1580px 1316px #fff,
    1866px 1002px #fff, 399px 40px #fff, 1468px 758px #fff, 1228px 1510px #fff,
    1292px 1629px #fff, 1523px 828px #fff, 693px 1338px #fff, 875px 600px #fff,
    840px 1182px #fff, 1402px 567px #fff, 1587px 379px #fff, 1509px 1647px #fff,
    442px 1429px #fff, 1926px 897px #fff, 1113px 629px #fff, 1215px 1063px #fff,
    283px 723px #fff, 1126px 616px #fff, 670px 850px #fff, 940px 1552px #fff,
    1013px 189px #fff, 512px 870px #fff, 585px 233px #fff, 1727px 1112px #fff,
    378px 1510px #fff, 341px 1023px #fff, 1145px 1783px #fff, 1004px 1089px #fff,
    857px 1629px #fff, 76px 529px #fff, 1842px 986px #fff, 902px 1757px #fff,
    1025px 1140px #fff, 873px 841px #fff, 1622px 1015px #fff, 812px 1292px #fff,
    1684px 70px #fff, 502px 1494px #fff, 52px 753px #fff, 153px 813px #fff,
    705px 879px #fff, 1775px 1174px #fff, 1291px 1193px #fff, 955px 1032px #fff,
    737px 1506px #fff, 1765px 1509px #fff, 666px 1724px #fff, 1160px 1112px #fff,
    14px 1735px #fff, 1536px 657px #fff, 1424px 68px #fff, 551px 1705px #fff,
    1726px 1271px #fff, 931px 32px #fff, 1154px 1262px #fff, 878px 647px #fff,
    1273px 1890px #fff, 130px 280px #fff, 1307px 74px #fff, 804px 585px #fff,
    3px 601px #fff, 1392px 1563px #fff, 1498px 802px #fff, 1151px 508px #fff,
    713px 1776px #fff, 72px 150px #fff, 1177px 1991px #fff, 39px 972px #fff,
    1054px 1626px #fff, 1660px 133px #fff, 1463px 418px #fff, 990px 502px #fff,
    159px 1771px #fff, 927px 119px #fff, 907px 191px #fff, 613px 1379px #fff,
    1359px 712px #fff, 1218px 1540px #fff, 1478px 501px #fff, 1808px 826px #fff,
    1942px 1627px #fff, 761px 399px #fff, 1642px 1625px #fff, 161px 1875px #fff,
    1921px 732px #fff, 1124px 652px #fff, 366px 797px #fff, 23px 402px #fff,
    407px 790px #fff, 862px 123px #fff, 145px 726px #fff, 1307px 1005px #fff,
    1907px 50px #fff, 1691px 430px #fff, 4px 1531px #fff, 1405px 1405px #fff,
    1787px 137px #fff, 1581px 1050px #fff, 1881px 1134px #fff, 355px 836px #fff,
    217px 1369px #fff, 801px 1935px #fff, 1433px 1768px #fff, 27px 923px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  position: absolute;
  background: transparent;
  box-shadow: 1242px 280px #fff, 1381px 711px #fff, 1300px 892px #fff,
    96px 1607px #fff, 608px 463px #fff, 1270px 660px #fff, 892px 973px #fff,
    1688px 699px #fff, 952px 527px #fff, 1989px 1017px #fff, 1278px 472px #fff,
    1824px 1317px #fff, 295px 1727px #fff, 379px 180px #fff, 1442px 658px #fff,
    411px 1908px #fff, 1802px 438px #fff, 1414px 1895px #fff, 390px 212px #fff,
    853px 335px #fff, 1652px 1701px #fff, 1530px 1228px #fff, 1128px 1096px #fff,
    1047px 1899px #fff, 722px 1321px #fff, 1689px 744px #fff, 827px 523px #fff,
    38px 674px #fff, 554px 201px #fff, 1622px 1403px #fff, 1972px 638px #fff,
    285px 1324px #fff, 1985px 636px #fff, 1182px 909px #fff, 1188px 125px #fff,
    1069px 164px #fff, 1184px 1136px #fff, 1328px 165px #fff, 1292px 1955px #fff,
    1096px 1130px #fff, 737px 426px #fff, 1990px 1754px #fff, 727px 953px #fff,
    398px 1462px #fff, 2px 298px #fff, 461px 1554px #fff, 1378px 1454px #fff,
    1852px 1449px #fff, 323px 877px #fff, 1629px 1379px #fff, 140px 1481px #fff,
    1px 1628px #fff, 1767px 840px #fff, 997px 379px #fff, 1317px 976px #fff,
    279px 735px #fff, 16px 1910px #fff, 644px 783px #fff, 1356px 695px #fff,
    64px 98px #fff, 918px 1220px #fff, 1306px 1835px #fff, 1331px 1720px #fff,
    718px 1552px #fff, 1482px 1538px #fff, 244px 1619px #fff, 1891px 417px #fff,
    948px 1665px #fff, 391px 1183px #fff, 721px 692px #fff, 51px 848px #fff,
    1073px 1036px #fff, 1688px 1619px #fff, 916px 1526px #fff,
    1555px 1807px #fff, 1517px 803px #fff, 380px 178px #fff, 1036px 1065px #fff,
    970px 421px #fff, 124px 192px #fff, 652px 443px #fff, 821px 1514px #fff,
    69px 1863px #fff, 1720px 893px #fff, 1px 1417px #fff, 1117px 543px #fff,
    892px 547px #fff, 561px 1535px #fff, 227px 791px #fff, 1121px 437px #fff,
    1399px 1429px #fff, 1458px 1018px #fff, 440px 1532px #fff, 275px 413px #fff,
    984px 1761px #fff, 223px 1762px #fff, 1457px 1272px #fff, 1666px 1292px #fff,
    424px 1815px #fff, 654px 606px #fff, 44px 1548px #fff, 605px 508px #fff,
    46px 1505px #fff, 345px 947px #fff, 236px 531px #fff, 895px 775px #fff,
    715px 221px #fff, 548px 219px #fff, 252px 1727px #fff, 1070px 1121px #fff,
    1939px 1478px #fff, 432px 701px #fff, 1986px 130px #fff, 885px 1705px #fff,
    1974px 1000px #fff, 749px 322px #fff, 1577px 1388px #fff, 658px 290px #fff,
    829px 1232px #fff, 1691px 62px #fff, 1653px 1099px #fff, 458px 1301px #fff,
    1134px 797px #fff, 215px 757px #fff, 662px 819px #fff, 1987px 1949px #fff,
    232px 1260px #fff, 916px 654px #fff, 1693px 1330px #fff, 1116px 23px #fff,
    1934px 1691px #fff, 1230px 1853px #fff, 815px 1198px #fff,
    1418px 1566px #fff, 1564px 403px #fff, 569px 500px #fff, 1876px 1868px #fff,
    1087px 347px #fff, 717px 1231px #fff, 654px 1346px #fff, 682px 1692px #fff,
    1709px 1353px #fff, 1707px 808px #fff, 71px 1150px #fff, 1990px 1554px #fff,
    554px 293px #fff, 1301px 1455px #fff, 231px 884px #fff, 1344px 801px #fff,
    1671px 1162px #fff, 1461px 1543px #fff, 1472px 1851px #fff,
    639px 1692px #fff, 1210px 1921px #fff, 1284px 480px #fff, 232px 50px #fff,
    524px 220px #fff, 1402px 413px #fff, 700px 1884px #fff, 1961px 1838px #fff,
    1766px 1070px #fff, 1368px 1130px #fff, 893px 1456px #fff, 879px 718px #fff,
    1283px 194px #fff, 141px 789px #fff, 1682px 1291px #fff, 382px 97px #fff,
    790px 1967px #fff, 1756px 943px #fff, 258px 951px #fff, 6px 422px #fff,
    1244px 589px #fff, 428px 1274px #fff, 695px 239px #fff, 50px 1179px #fff,
    249px 330px #fff, 1891px 545px #fff, 1923px 1900px #fff, 1453px 1294px #fff,
    1216px 876px #fff, 748px 943px #fff, 1133px 246px #fff, 1475px 894px #fff,
    695px 904px #fff, 804px 862px #fff, 1279px 335px #fff, 852px 309px #fff,
    867px 1259px #fff, 1156px 611px #fff, 438px 1197px #fff, 1211px 283px #fff,
    1476px 250px #fff, 1456px 1804px #fff, 669px 854px #fff, 875px 1631px #fff,
    304px 378px #fff, 1787px 739px #fff, 1290px 1622px #fff, 16px 1343px #fff;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1989px 1207px #fff, 1324px 521px #fff, 1861px 146px #fff,
    794px 1148px #fff, 325px 285px #fff, 1438px 1927px #fff, 940px 1636px #fff,
    519px 1800px #fff, 751px 998px #fff, 118px 639px #fff, 1955px 1761px #fff,
    1260px 31px #fff, 1094px 556px #fff, 1904px 1378px #fff, 482px 1906px #fff,
    426px 410px #fff, 900px 217px #fff, 893px 663px #fff, 432px 1733px #fff,
    1115px 378px #fff, 1647px 1951px #fff, 1794px 972px #fff, 197px 377px #fff,
    1906px 1441px #fff, 1007px 1119px #fff, 454px 1933px #fff, 1582px 601px #fff,
    1527px 1730px #fff, 531px 153px #fff, 600px 903px #fff, 434px 74px #fff,
    1763px 1736px #fff, 94px 1026px #fff, 606px 462px #fff, 1502px 1928px #fff,
    1765px 1635px #fff, 1717px 63px #fff, 839px 366px #fff, 1408px 1304px #fff,
    14px 1875px #fff, 111px 10px #fff, 1424px 202px #fff, 1619px 910px #fff,
    903px 1965px #fff, 1085px 728px #fff, 288px 897px #fff, 933px 1322px #fff,
    1710px 423px #fff, 814px 1190px #fff, 122px 1279px #fff, 1776px 779px #fff,
    123px 577px #fff, 1858px 1049px #fff, 470px 90px #fff, 1910px 1166px #fff,
    1796px 596px #fff, 211px 154px #fff, 1066px 1343px #fff, 1162px 1133px #fff,
    636px 419px #fff, 58px 1032px #fff, 1951px 1950px #fff, 1523px 104px #fff,
    1178px 1896px #fff, 1894px 1152px #fff, 1478px 802px #fff, 3px 802px #fff,
    1797px 116px #fff, 1721px 278px #fff, 650px 717px #fff, 16px 1639px #fff,
    761px 1285px #fff, 1424px 1527px #fff, 121px 1445px #fff, 652px 1011px #fff,
    1904px 229px #fff, 19px 1258px #fff, 130px 528px #fff, 98px 868px #fff,
    148px 221px #fff, 817px 1916px #fff, 501px 1273px #fff, 1471px 1443px #fff,
    1921px 1654px #fff, 1993px 1689px #fff, 1856px 906px #fff,
    1283px 1072px #fff, 1013px 888px #fff, 639px 1334px #fff, 1208px 674px #fff,
    425px 1276px #fff, 1243px 854px #fff, 898px 588px #fff, 821px 978px #fff,
    1535px 1522px #fff, 1192px 1598px #fff, 1869px 76px #fff, 1874px 1903px #fff,
    1068px 1029px #fff, 1791px 39px #fff, 1979px 1093px #fff, 1572px 1310px #fff,
    1902px 223px #fff, 16px 1931px #fff, 695px 1421px #fff, 1689px 1390px #fff,
    1393px 1908px #fff, 513px 916px #fff, 540px 224px #fff, 1750px 575px #fff,
    1026px 823px #fff, 1270px 538px #fff, 1782px 1583px #fff, 636px 1526px #fff,
    1634px 900px #fff, 1922px 654px #fff, 1885px 529px #fff, 595px 2px #fff,
    1025px 928px #fff, 1300px 751px #fff, 473px 671px #fff, 106px 963px #fff,
    743px 1185px #fff, 1422px 604px #fff, 1814px 1660px #fff, 1076px 85px #fff,
    1143px 954px #fff, 734px 1163px #fff, 1520px 1810px #fff, 216px 1342px #fff,
    574px 1806px #fff, 827px 1717px #fff, 316px 916px #fff, 78px 1732px #fff,
    183px 424px #fff, 487px 784px #fff, 428px 993px #fff, 1967px 1430px #fff,
    1072px 1242px #fff, 1560px 125px #fff, 667px 784px #fff, 875px 1065px #fff,
    1918px 1829px #fff, 826px 1479px #fff, 1395px 738px #fff, 141px 1635px #fff,
    1801px 145px #fff, 627px 937px #fff, 831px 1285px #fff, 577px 1423px #fff,
    1101px 307px #fff, 287px 131px #fff, 359px 1020px #fff, 298px 435px #fff,
    616px 1951px #fff, 1175px 1184px #fff, 987px 1080px #fff, 1949px 1939px #fff,
    1910px 944px #fff, 1244px 1989px #fff, 1795px 1926px #fff, 1319px 740px #fff,
    802px 1015px #fff, 1012px 329px #fff, 1541px 1634px #fff, 1857px 1215px #fff,
    1374px 1692px #fff, 1894px 1748px #fff, 1846px 1082px #fff,
    1764px 398px #fff, 1678px 1441px #fff, 903px 1110px #fff, 1042px 185px #fff,
    1089px 140px #fff, 1326px 1140px #fff, 1319px 1253px #fff,
    1301px 1838px #fff, 1098px 309px #fff, 1680px 219px #fff, 1460px 1811px #fff,
    308px 1634px #fff, 140px 251px #fff, 1816px 1193px #fff, 1324px 475px #fff,
    813px 1866px #fff, 603px 602px #fff, 201px 1696px #fff, 993px 1403px #fff,
    884px 1540px #fff, 1910px 178px #fff, 1180px 568px #fff, 1663px 1973px #fff,
    954px 1299px #fff, 1147px 1168px #fff, 474px 1388px #fff, 419px 1824px #fff,
    631px 570px #fff, 1889px 928px #fff, 1627px 1972px #fff, 219px 44px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  position: absolute;
  box-shadow: 927px 850px #fff, 1646px 1629px #fff, 1119px 1214px #fff,
    1009px 111px #fff, 756px 206px #fff, 232px 242px #fff, 1875px 771px #fff,
    359px 732px #fff, 1852px 1247px #fff, 485px 1741px #fff, 561px 729px #fff,
    1274px 232px #fff, 426px 1150px #fff, 1288px 864px #fff, 399px 817px #fff,
    1439px 1323px #fff, 53px 1527px #fff, 1246px 1299px #fff, 1939px 214px #fff,
    1270px 289px #fff, 1835px 638px #fff, 812px 705px #fff, 1302px 1923px #fff,
    1643px 1482px #fff, 1428px 703px #fff, 1532px 1616px #fff, 562px 1823px #fff,
    767px 433px #fff, 690px 701px #fff, 1290px 1264px #fff, 619px 1983px #fff,
    268px 565px #fff, 726px 965px #fff, 1481px 147px #fff, 1894px 797px #fff,
    1607px 1632px #fff, 487px 87px #fff, 924px 53px #fff, 1285px 727px #fff,
    1045px 965px #fff, 154px 1019px #fff, 1523px 1911px #fff, 80px 926px #fff,
    1466px 436px #fff, 987px 1049px #fff, 1847px 217px #fff, 1475px 576px #fff,
    1923px 641px #fff, 1818px 1804px #fff, 1460px 763px #fff, 1844px 709px #fff,
    584px 153px #fff, 1934px 1241px #fff, 1563px 1939px #fff, 1714px 1622px #fff,
    801px 948px #fff, 1100px 1959px #fff, 279px 596px #fff, 1749px 1213px #fff,
    925px 173px #fff, 926px 645px #fff, 769px 1087px #fff, 821px 264px #fff,
    1352px 436px #fff, 1528px 174px #fff, 448px 1865px #fff, 185px 475px #fff,
    744px 1343px #fff, 1842px 1992px #fff, 848px 1623px #fff, 705px 1939px #fff,
    281px 435px #fff, 1008px 504px #fff, 346px 1329px #fff, 1651px 28px #fff,
    1770px 175px #fff, 939px 516px #fff, 35px 312px #fff, 494px 504px #fff,
    421px 906px #fff, 1851px 134px #fff, 910px 1997px #fff, 1597px 1613px #fff,
    1074px 819px #fff, 1438px 1362px #fff, 1686px 497px #fff, 1311px 1680px #fff,
    1877px 901px #fff, 955px 929px #fff, 125px 373px #fff, 1802px 429px #fff,
    1349px 1772px #fff, 719px 1752px #fff, 1683px 1915px #fff, 839px 1283px #fff,
    1034px 1735px #fff, 394px 1215px #fff, 1666px 636px #fff, 22px 90px #fff,
    421px 629px #fff;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1722px 1130px #fff, 432px 875px #fff, 1173px 1642px #fff,
    1221px 533px #fff, 764px 1205px #fff, 1353px 781px #fff, 26px 1158px #fff,
    250px 1423px #fff, 820px 1358px #fff, 1850px 1980px #fff, 366px 646px #fff,
    1385px 1734px #fff, 767px 389px #fff, 860px 1014px #fff, 1227px 744px #fff,
    105px 1942px #fff, 355px 1026px #fff, 460px 864px #fff, 1115px 1865px #fff,
    326px 1199px #fff, 1297px 1182px #fff, 1881px 1885px #fff, 1429px 735px #fff,
    1182px 724px #fff, 883px 999px #fff, 1965px 11px #fff, 1780px 1508px #fff,
    124px 59px #fff, 1382px 1352px #fff, 1689px 1429px #fff, 1986px 1871px #fff,
    1057px 156px #fff, 9px 1523px #fff, 1553px 795px #fff, 786px 32px #fff,
    320px 1379px #fff, 1481px 1463px #fff, 131px 401px #fff, 1830px 1341px #fff,
    1347px 1293px #fff, 1819px 1797px #fff, 574px 418px #fff, 526px 185px #fff,
    492px 848px #fff, 1142px 969px #fff, 260px 1034px #fff, 217px 110px #fff,
    57px 1848px #fff, 1060px 524px #fff, 1560px 1443px #fff, 1754px 1471px #fff,
    756px 885px #fff, 1789px 1233px #fff, 100px 1379px #fff, 1811px 570px #fff,
    382px 548px #fff, 1963px 969px #fff, 697px 998px #fff, 748px 1976px #fff,
    1519px 806px #fff, 1189px 932px #fff, 1111px 325px #fff, 29px 1938px #fff,
    338px 1677px #fff, 1789px 1963px #fff, 1100px 1816px #fff,
    1446px 1805px #fff, 1698px 536px #fff, 11px 718px #fff, 1168px 944px #fff,
    863px 713px #fff, 1835px 1569px #fff, 53px 1845px #fff, 442px 423px #fff,
    886px 1589px #fff, 1511px 495px #fff, 1188px 236px #fff, 423px 737px #fff,
    39px 1406px #fff, 44px 218px #fff, 1402px 61px #fff, 677px 268px #fff,
    1425px 1933px #fff, 640px 1776px #fff, 1205px 1397px #fff,
    1489px 1862px #fff, 1574px 1274px #fff, 116px 1320px #fff, 1312px 559px #fff,
    1245px 1457px #fff, 1966px 1716px #fff, 1264px 1243px #fff,
    1955px 1051px #fff, 1480px 1772px #fff, 426px 535px #fff, 1456px 143px #fff,
    550px 1162px #fff, 923px 1290px #fff, 1981px 725px #fff, 1179px 782px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
